# settings.env.example
# 실제 서비스 운영 시 이 파일을 복사해 .env.development 또는 .env.production으로 사용하고, 각 변수에 실제 값을 입력하세요.

NODE_ENV=
PORT=
SAVE_PATH=

APP_ENV=             # 애플리케이션 환경 (development, production, test)